/* pages/goods/index.wxss */
.van-tabs__wrap--scrollable .van-tab {
  flex-basis: auto !important;
}

.van-tabs__line {
  background-color: transparent !important;
  border-radius: 0 !important;
  height: 1px !important;
  bottom: 8px !important;
  background-image: url('https://fabrique.oss-cn-qingdao.aliyuncs.com/fabrique-miniProgram/navbar-underline.png') !important;
  background-size: 100% 100% !important;
}

.tab-class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto !important;
  height: 44px !important;
  padding: 0 40rpx !important;
  font-weight: 300 !important;
}
