/* pages/home/components/welcome/index.wxss */
.welcome {
  padding: 0 40rpx;
  padding-top: 40rpx;
  background-color: #ffffff;

  .color-secondary {
    font-size: 32rpx;
    font-weight: 500;
  }

  .enjoy-watching {
    padding-top: 10rpx;
    font-weight: 400;
    font-size: 26rpx;
    color: #9498ac;
  }
}
